@import "~bootstrap/less/bootstrap.less";
@import "~bootswatch/paper/variables.less";
@import "~bootswatch/paper/bootswatch.less";

body {
	background:#eee; 
	padding-top:150px;
}
textarea {
	margin-bottom:15px;	
}